<<<<<<< HEAD
<div class="">
    <h2>{{bookTitle}}</h2>
    <p>{{Author}}</p>
    <p>{{Genre}}</p>
    {{!-- Picture from API --}}

</div>
<hr>
<div class="">
    <h2>Posts about {{bookTitle}}</h2>
  {{#if posts.length}}
  <ul class="">
    {{#each posts}}
    <li class="">
      <p>{{this.content}}</p>
      <p>By: {{this.user.username}}</p>
    </li>
    {{/each}}

  </ul>
    {{else}}
    <p>No posts yet!</p>
    {{/if}}

</div>
=======
<!--This page needs to be a table-->
>>>>>>> be815b8 (small comment)
