
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!--href="/"-->
    <a id="title" class="navbar-brand berkshire-swash-regular" href="/">
      <img id="bookimg" src="../../img/bookimg.gif" />
      Shelf Life</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Include sign-up modal button -->
        {{#if logged_in}}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/profile"
            >Profile</a>
          </li>
          <!--<li
                                a /profile
                             /profile>-->
        {{else}}
          <li class="nav-item">
            <button
              id="signUp-btn"
              type="button"
              class="btn btn-primary oleo-script"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              href="/signup"
            >
              Sign Up!
            </button>
            <!-- <a class="nav-link active" aria-current="page" href="#">Sign Up</a> -->
          </li>


<div class="container mt-5">
    <div id="bg-img" class="header">
    <h1> </h1>
  </div>

    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{bookTitle}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{Author}}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!"> {{Genre}} </a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded"
                        src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..."></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <h2 class="fw-bolder mb-4 mt-5"> Posts about {{bookTitle}} </h2>
                    {{!-- <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts
                        every day and I realized I could hold them to myself or share them with people who might be
                        interested.</p>
                    <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened
                        there because we're twirling knobs here on Earth without knowing the consequences of it. Mars
                        once had running water. It's bone dry today. Something bad happened there as well.</p> --}}
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4"><textarea id="comment-input" class="form-control" rows="3"
                                placeholder="Leave a comment!!"></textarea>
                            <div class="d-flex justify-content-end mt-4">
                                <button id="comment-form" class="btn btn-primary btn-sm" type="submit">Post Comment</button>
                            </div>
                                </form>
                        <!-- Comment with nested comments-->
                        {{#if posts.length}}

                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle"
                                    src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                            {{#each posts}}
                            <div class="ms-3">
                                <div class="fw-bold">{{this.user.username}}</div>
                                {{this.content}}
                                <!-- Child comment 1-->
                            </div>
                            {{/each}}
                        </div>
                        {{else}}
                        <p>No posts yet!</p>
                        {{/if}}
                        <!-- Single comment-->
                        
                    </div>
                </div>
            </section>
        </div>
</div>
